@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fugi";
  src: url("./assets/fonts/Fugi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.main_menu .bigmenu {
  justify-content: center;
  border: none;
}

/* .main_menu .bigmenu li a {
  color: #fff;
} */
.main_menu .bigmenu li a:hover {
  color: #ff6b00;
}

.ant-menu-submenu::after,
.ant-menu-item::after {
  display: none !important;
}

.ant-menu-item-selected {
  position: relative;
}

.welcomeHeader span.anticon.anticon-close {
  filter: invert(100%) brightness(100%) !important;
}
.coursesHeader .ant-menu-item-selected a::after {
  content: '';
  background-image: url(http://localhost:3000/static/media/menuBottomLine.598be0eef2a03ec80192.svg);
  width: 10px;
  height: 2px;
  position: absolute;
  margin: auto;
  bottom: 9px;
  left: 46%;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  bottom: 9;
  right: 0;
  /* background-color: #00838d;  */
  border-radius: 0 4px 0 32px;
}

.hover-animation {
  display: block;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -30px;
    right: -16px;
    background: #d2ea8e;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(21);
  }
}

@media (min-width: 769px) {
  .menubtn {
    margin-top: 20px;
    display: none;
  }
}

@media (max-width: 769px) {
  .bigmenu {
    margin-top: 10px;
    display: none;
  }

  .hide {
    display: none !important;
  }

  .menubtn {
    color: #000;
    /* background-color:#ECAB34; */
    border: none;
    box-shadow: none;
  }
  span.ant-menu-title-content img {
    filter: grayscale(100%) invert(100%);
}
  .main_menu {
    width: 60%;
    display: none;
  }

  .t-hide {
    display: none;
  }

  .mobile_menu a {
    font-weight: bold;
    justify-content: space-between;
  }

  i.ant-menu-submenu-arrow {
    display: none;
  }

  .coursesHeader .ant-menu-title-content a {
    color: #24272A;
  }

  .ant-drawer .ant-drawer-header-title {
    flex-direction: row-reverse;
  }

  .ant-drawer .ant-drawer-close {
    margin-inline-end: 0px;
  }

}